In [115]:
import pandas as pd
import numpy as np

In [116]:
df_gameplay = pd.read_csv('User Gameplay data.csv')
df_deposit = pd.read_csv('Deposit Data.csv')
df_withdrawal = pd.read_csv('Withdrawal Data.csv')

In [117]:

print("Head:")
print(df_gameplay.head())
print("\nInfo:")
df_gameplay.info()
print("\nDescription:")
print(df_gameplay.describe())
print("\nMissing Values:")
print(df_gameplay.isnull().sum())
print("\nUnique User ID:", df_gameplay['User ID'].nunique())

Head:
   User ID  Games Played         Datetime
0      851             1  01-10-2022 0:00
1      717             1  01-10-2022 0:00
2      456             1  01-10-2022 0:00
3      424             1  01-10-2022 0:00
4      845             1  01-10-2022 0:00

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355266 entries, 0 to 355265
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   User ID       355266 non-null  int64
 1   Games Played  355266 non-null  int64
 2   Datetime      355266 non-null  object
dtypes: int64(2), object(1)
memory usage: 8.1+ MB

Description:
             User ID   Games Played
count  355266.000000  355266.000000
mean      542.417130       1.000003
std       279.409789       0.001678
min         0.000000       1.000000
25%       300.000000       1.000000
50%       582.000000       1.000000
75%       765.000000       1.000000
max       999.000000       2.000000

Missing Values:
User ID         0
Games Played    0
Datetime        0
dtype: int64

Unique User ID: 1000

In [118]:

print("Head:")
print(df_deposit.head())
print("\nInfo:")
df_deposit.info()
print("\nDescription:")
print(df_deposit.describe())
print("\nMissing Values:")
print(df_deposit.isnull().sum())
print("\nUnique User ID", df_deposit['User ID'].nunique())

Head:
   User ID         Datetime  Amount
0      357  01-10-2022 0:03    2000
1      776  01-10-2022 0:03    2500
2      492  01-10-2022 0:06    5000
3      803  01-10-2022 0:07    5000
4      875  01-10-2022 0:09    1500

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17438 entries, 0 to 17437
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   User ID   17438 non-null  int64
 1   Datetime  17438 non-null  object
 2   Amount    17438 non-null  int64
dtypes: int64(2), object(1)
memory usage: 408.8+ KB

Description:
            User ID         Amount
count  17438.000000   17438.000000
mean     513.066005    5492.185400
std      290.101986   12046.364959
min        1.000000      23.000000
25%      270.000000     800.000000
50%      532.000000    2000.000000
75%      760.000000    5000.000000
max      999.000000  400400.000000

Missing Values:
User ID     0
Datetime    0
Amount      0
dtype: int64

Unique User ID 915

In [119]:
print("Head:")
print(df_withdrawal.head())
print("\nInfo:")
df_withdrawal.info()
print("\nDescription:")
print(df_withdrawal.describe())
print("\nMissing Values:")
print(df_withdrawal.isnull().sum())
print("\nUnique User ID", df_withdrawal['User ID'].nunique())

Head:
   User ID          Datetime  Amount
0      190  01-10-2022 00:03    5872
1      159  01-10-2022 00:16    9540
2      164  01-10-2022 00:24     815
3      946  01-10-2022 00:29   23000
4      763  01-10-2022 00:40    9473

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3566 entries, 0 to 3565
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   User ID   3566 non-null   int64
 1   Datetime  3566 non-null   object
 2   Amount    3566 non-null   int64
dtypes: int64(2), object(1)
memory usage: 83.7+ KB

Description:
           User ID        Amount
count  3566.000000  3.566000e+03
mean    509.116657  2.355010e+04
std     305.839395  5.359007e+04
min       2.000000  1.000000e+02
25%     212.000000  3.300000e+03
50%     511.500000  8.000000e+03
75%     795.000000  2.000000e+04
max     992.000000  1.100000e+06

Missing Values:
User ID     0
Datetime    0
Amount      0
dtype: int64

Unique User ID 514

In [149]:
oct_start = pd.to_datetime('2022-10-01')
oct_end = pd.to_datetime('2022-10-31')
#by observing date

In [121]:
# Total Number of Games Played per Player
games_played = df_gameplay.groupby("User ID")["Games Played"].count().reset_index()
games_played.columns = ["User ID", "Games Played"]

In [122]:
# Total Deposit Amount and Count
deposit_agg = df_deposit.groupby("User ID")["Amount"].agg(["sum", "count"]).reset_index()
deposit_agg.columns = ["User ID", "total_deposit", "deposit_count"]

In [123]:
# Total Withdrawal Amount and Count
withdraw_agg = df_withdrawal.groupby("User ID")["Amount"].agg(["sum", "count"]).reset_index()
withdraw_agg.columns = ["User ID", "total_withdraw", "withdraw_count"]

In [124]:
loyalty_df = games_played.merge(deposit_agg, on="User ID", how="outer")
loyalty_df = loyalty_df.merge(withdraw_agg, on="User ID", how="outer")

In [125]:
print(loyalty_df.head())

   User ID  Games Played  total_deposit  deposit_count  total_withdraw  \
0        0            15            NaN            NaN             NaN
1        1             8         5000.0            1.0             NaN
2        2            97       567000.0           20.0       1270215.0
3        3            80        40000.0            4.0             NaN
4        4             5         1750.0            1.0             NaN

   withdraw_count
0             NaN
1             NaN
2            20.0
3             NaN
4             NaN

In [126]:
#From the above observation it was clear that user Id 0 neither deposite nor withdraw the amount 
# we fill 0 in place of NaN for calculation
loyalty_df.fillna(0, inplace=True)
print(loyalty_df.head())

   User ID  Games Played  total_deposit  deposit_count  total_withdraw  \
0        0            15            0.0            0.0             0.0
1        1             8         5000.0            1.0             0.0
2        2            97       567000.0           20.0       1270215.0
3        3            80        40000.0            4.0             0.0
4        4             5         1750.0            1.0             0.0

   withdraw_count
0             0.0
1             0.0
2            20.0
3             0.0
4             0.0

In [127]:
loyalty_df["loyalty_points"] = (
    (0.01 * loyalty_df["total_deposit"]) +
    (0.005 * loyalty_df["total_withdraw"]) +
    (0.001 * np.maximum((loyalty_df["deposit_count"] - loyalty_df["withdraw_count"]),0)) +
    (0.2 * loyalty_df["Games Played"]))

In [128]:
#Manully check the formula as per condition 
'''user id=1
0.01*5000+ 0.005*0+1*0.001+0.2*8 =51.601'''

'user id=1\n0.01*5000+ 0.005*0+1*0.001+0.2*8 =51.601'

In [129]:
loyalty_df.sort_values(by="User ID",ascending=True)
#As we see user id 1 has 51.601 loyalty points so formula is correct

,User ID,Games Played,total_deposit,deposit_count,total_withdraw,withdraw_count,loyalty_points
0,0,15,0.0,0.0,0.0,0.0,3.000
1,1,8,5000.0,1.0,0.0,0.0,51.601
2,2,97,567000.0,20.0,1270215.0,20.0,12040.475
3,3,80,40000.0,4.0,0.0,0.0,416.004
4,4,5,1750.0,1.0,0.0,0.0,18.501
...,...,...,...,...,...,...,...
995,995,18,34500.0,5.0,0.0,0.0,348.605
996,996,474,96400.0,31.0,0.0,0.0,1058.831
997,997,109,0.0,0.0,0.0,0.0,21.800
998,998,4,7400.0,5.0,0.0,0.0,74.805
999,999,174,9000.0,3.0,0.0,0.0,124.803

In [130]:
top50 = loyalty_df.sort_values(by="loyalty_points",ascending=False).head(50)

In [131]:
print(top50)

     User ID  Games Played  total_deposit  deposit_count  total_withdraw  \
634      634            24       515000.0            8.0      15737705.0
99        99            10      1164800.0           47.0       2403141.0
672      672            10      2158700.0           35.0        233750.0
212      212             1      1924981.0           26.0        589850.0
740      740             2      1738490.0           91.0        365288.0
566      566           183      1819175.0           53.0        185071.0
714      714             6      1676300.0           34.0             0.0
421      421          1557       878600.0           99.0       1269809.0
369      369            37       650000.0           13.0       1586208.0
30        30            13      1329000.0           51.0        152145.0
587      587           734       671700.0           89.0       1355000.0
222      222            10      1285000.0           16.0         99358.0
352      352           313      1083034.0          128.0        429518.0
365      365          3667       311000.0           10.0       1802335.0
920      920           932       367700.0           41.0       1734480.0
162      162             2        68320.0            7.0       2360000.0
415      415            26       350000.0            6.0       1759843.0
569      569            38      1227780.0           23.0             0.0
786      786             7       661500.0           27.0       1096160.0
2          2            97       567000.0           20.0       1270215.0
238      238           899       923400.0           45.0        445000.0
992      992          2483       804978.0           18.0        616278.0
28        28            37      1061500.0           49.0             0.0
538      538            29      1025000.0           27.0          8558.0
208      208           507       644934.0           35.0        657928.0
989      989          3471       240000.0           12.0       1339000.0
978      978            74       794358.0           69.0        288114.0
915      915             8       780028.0           84.0        307609.0
678      678            12       379000.0           22.0       1100000.0
78        78           602       159000.0           32.0       1484900.0
909      909             1       679745.0          125.0        454060.0
182      182          2446       795000.0           16.0         80339.0
93        93           487       616000.0           76.0        511474.0
200      200             4       539998.0            8.0        593000.0
259      259           126       824020.0          115.0             0.0
306      306             4       826000.0           57.0             0.0
344      344             3       311900.0           18.0       1024000.0
601      601            33       692144.0           23.0        240000.0
515      515           413       580000.0           14.0        400000.0
294      294             5       607700.0           41.0        311187.0
681      681             8       689000.0           65.0        132000.0
950      950             4       732000.0           99.0         35500.0
675      675           639       662500.0           50.0         70000.0
663      663          6401       425000.0           52.0        290200.0
438      438             1       400000.0            2.0        594851.0
619      619             2       697000.0           13.0             0.0
245      245             3       209450.0           25.0        912200.0
547      547          1248       493200.0           41.0        245863.0
612      612          1543       554800.0           53.0        109081.0
949      949             1       409100.0           64.0        434171.0

     withdraw_count  loyalty_points
634            67.0       83843.325
99             15.0       23665.737
672             5.0       22757.780
212             4.0       22199.282
740             7.0       19211.824
566             3.0       19153.755
714             0.0       16764.234
421            84.0       15446.460
369             9.0       14438.444
30              1.0       14053.375
587             8.0       13638.881
222             3.0       13348.803
352             8.0       13040.650
365            33.0       12855.075
920            52.0       12535.800
162            23.0       12483.600
415             6.0       12304.415
569             0.0       12285.423
786            11.0       12097.216
2              20.0       12040.475
238             7.0       11638.838
992            11.0       11627.777
28              0.0       10622.449
538             1.0       10298.616
208             9.0        9840.406
989            20.0        9789.200
978            14.0        9399.005
915             7.0        9340.002
678             1.0        9292.421
78             47.0        9134.900
909             5.0        9068.070
182             4.0        8840.907
93             24.0        8814.822
200             5.0        8365.783
259             0.0        8265.515
306             0.0        8260.857
344            10.0        8239.608
601             1.0        8128.062
515             6.0        7882.608
294             3.0        7633.973
681             1.0        7551.664
950             4.0        7498.395
675             1.0        7102.849
663            35.0        6981.217
438             1.0        6974.456
619             0.0        6970.413
245            10.0        6656.115
547            14.0        6410.942
612             8.0        6402.050
949             7.0        6262.112

**Part A**

In [135]:

# Correct way to parse your format
df_gameplay['Datetime'] = pd.to_datetime(df_gameplay['Datetime'], dayfirst=True, errors='coerce')
df_deposit['Datetime'] = pd.to_datetime(df_deposit['Datetime'], dayfirst=True, errors='coerce')
df_withdrawal['Datetime'] = pd.to_datetime(df_withdrawal['Datetime'], dayfirst=True, errors='coerce')


# Helper function to get slot mask
def get_slot_mask(df, date_str, slot):
    date = pd.to_datetime(date_str)
    if slot == 'S1':
        return (df['Datetime'] >= date) & (df['Datetime'] < date + pd.Timedelta(hours=12))
    elif slot == 'S2':
        return (df['Datetime'] >= date + pd.Timedelta(hours=12)) & (df['Datetime'] < date + pd.Timedelta(days=1))

In [152]:
def calculate_slot_loyalty(date_str, slot):
    gp = df_gameplay[get_slot_mask(df_gameplay, date_str, slot)]
    dp = df_deposit[get_slot_mask(df_deposit, date_str, slot)]
    wd = df_withdrawal[get_slot_mask(df_withdrawal, date_str, slot)]

    gp_count = gp.groupby("User ID")["Games Played"].count().reset_index(name="Games Played")
    dp_agg = dp.groupby("User ID")["Amount"].agg(["sum", "count"]).reset_index()
    dp_agg.columns = ["User ID", "total_deposit", "deposit_count"]
    wd_agg = wd.groupby("User ID")["Amount"].agg(["sum", "count"]).reset_index()
    wd_agg.columns = ["User ID", "total_withdraw", "withdraw_count"]

    df = gp_count.merge(dp_agg, on="User ID", how="outer").merge(wd_agg, on="User ID", how="outer")
    df.fillna(0, inplace=True)

    df["loyalty_points"] = (
        0.01 * df["total_deposit"] +
        0.005 * df["total_withdraw"] +
        0.001 * (df["deposit_count"] - df["withdraw_count"]).clip(lower=0) +
        0.2 * df["Games Played"]
    )
    df["slot"] = f"{date_str} {slot}"
    return df[["User ID", "loyalty_points", "slot"]]

In [153]:
slot_loyalties = pd.concat([
    calculate_slot_loyalty("2022-10-16", "S2"),
    calculate_slot_loyalty("2022-10-18", "S1"),
    calculate_slot_loyalty("2022-10-26", "S2"),
    calculate_slot_loyalty("2022-10-02", "S1"),
], ignore_index=True)
print(slot_loyalties)

      User ID  loyalty_points           slot
0           2           0.400  2022-10-16 S2
1           5          11.802  2022-10-16 S2
2           6           0.200  2022-10-16 S2
3           8           1.000  2022-10-16 S2
4           9          30.201  2022-10-16 S2
...       ...             ...            ...
2475      435           8.000  2022-10-02 S1
2476      560          38.985  2022-10-02 S1
2477      634        1478.355  2022-10-02 S1
2478      936          34.285  2022-10-02 S1
2479      944           2.500  2022-10-02 S1

[2480 rows x 3 columns]

In [154]:
gp_oct = df_gameplay[(df_gameplay["Datetime"] >= oct_start) & (df_gameplay["Datetime"] < oct_end)]
dp_oct = df_deposit[(df_deposit["Datetime"] >= oct_start) & (df_deposit["Datetime"] < oct_end)]
wd_oct = df_withdrawal[(df_withdrawal["Datetime"] >= oct_start) & (df_withdrawal["Datetime"] < oct_end)]

In [160]:
gp_m = gp_oct.groupby("User ID")["Games Played"].count().reset_index(name="Games Played")
dp_m = dp_oct.groupby("User ID")["Amount"].agg(["sum", "count"]).reset_index()
dp_m.columns = ["User ID", "total_deposit", "deposit_count"]
wd_m = wd_oct.groupby("User ID")["Amount"].agg(["sum", "count"]).reset_index()
wd_m.columns = ["User ID", "total_withdraw", "withdraw_count"]
monthly_df = gp_m.merge(dp_m, on="User ID", how="outer").merge(wd_m, on="User ID", how="outer")
monthly_df.fillna(0, inplace=True)

In [167]:
monthly_df["loyalty_points"] = (
    0.01 * monthly_df["total_deposit"] +
    0.005 * monthly_df["total_withdraw"] +
    0.001 * (monthly_df["deposit_count"] - monthly_df["withdraw_count"]).clip(lower=0) +
    0.2 * monthly_df["Games Played"]
)
monthly_df["rank"] = monthly_df.sort_values(
    by=["loyalty_points", "Games Played"], 
    ascending=[False, False]
).reset_index(drop=True).index + 1

In [163]:
avg_deposit = df_deposit["Amount"].mean()
avg_deposit_per_user_oct = dp_oct.groupby("User ID")["Amount"].sum().mean()
avg_games_per_user_oct = gp_oct.groupby("User ID")["Games Played"].count().mean()

In [168]:
results_summary = {
    "slot_loyalties": slot_loyalties,
    "monthly_loyalty_ranking": monthly_df.sort_values(by="rank").reset_index(drop=True),
    "average_deposit": avg_deposit,
    "avg_deposit_per_user_oct": avg_deposit_per_user_oct,
    "avg_games_per_user_oct": avg_games_per_user_oct
}

results_summary

{'slot_loyalties':       User ID  loyalty_points           slot
 0           2           0.400  2022-10-16 S2
 1           5          11.802  2022-10-16 S2
 2           6           0.200  2022-10-16 S2
 3           8           1.000  2022-10-16 S2
 4           9          30.201  2022-10-16 S2
 ...       ...             ...            ...
 2475      435           8.000  2022-10-02 S1
 2476      560          38.985  2022-10-02 S1
 2477      634        1478.355  2022-10-02 S1
 2478      936          34.285  2022-10-02 S1
 2479      944           2.500  2022-10-02 S1

 [2480 rows x 3 columns],
 'monthly_loyalty_ranking':      User ID  Games Played  total_deposit  deposit_count  total_withdraw  \
 0          0          15.0            0.0            0.0             0.0
 1          1           7.0         5000.0            1.0             0.0
 2          2          94.0       487000.0           18.0       1170215.0
 3          3          78.0        40000.0            4.0             0.0
 4          4           5.0         1750.0            1.0             0.0
 ..       ...           ...            ...            ...             ...
 995      997         108.0            0.0            0.0             0.0
 996      998           4.0         7400.0            5.0             0.0
 997      999         164.0         9000.0            3.0             0.0
 998      384           0.0        17000.0            3.0          3500.0
 999      969           0.0         2000.0            1.0             0.0

      withdraw_count  loyalty_points  rank
 0               0.0           3.000     1
 1               0.0          51.401     2
 2              19.0       10739.875     3
 3               0.0         415.604     4
 4               0.0          18.501     5
 ..              ...             ...   ...
 995             0.0          21.600   996
 996             0.0          74.805   997
 997             0.0         122.803   998
 998             1.0         187.502   999
 999             0.0          20.001  1000

 [1000 rows x 8 columns],
 'average_deposit': 5492.185399701801,
 'avg_deposit_per_user_oct': 101402.15519125682,
 'avg_games_per_user_oct': 344.4699398797595}

**Part B**

I choose the aprooach to give 40% to top 10 user and 60% to rest 40 users
I think on the base of loyalty points i desiced the to give the bonus
I also have one more approch to give bonus in the form of 70% loyality points and 30% games played

In [ ]:

top50["Rank"] = top50["loyalty_points"].rank(method="dense", ascending=False).astype(int)
top50
#rank top 50 player

,User ID,Games Played,total_deposit,deposit_count,total_withdraw,withdraw_count,loyalty_points,Rank
634,634,24,515000.0,8.0,15737705.0,67.0,83843.325,1
99,99,10,1164800.0,47.0,2403141.0,15.0,23665.737,2
672,672,10,2158700.0,35.0,233750.0,5.0,22757.780,3
212,212,1,1924981.0,26.0,589850.0,4.0,22199.282,4
740,740,2,1738490.0,91.0,365288.0,7.0,19211.824,5
566,566,183,1819175.0,53.0,185071.0,3.0,19153.755,6
714,714,6,1676300.0,34.0,0.0,0.0,16764.234,7
421,421,1557,878600.0,99.0,1269809.0,84.0,15446.460,8
369,369,37,650000.0,13.0,1586208.0,9.0,14438.444,9
30,30,13,1329000.0,51.0,152145.0,1.0,14053.375,10
587,587,734,671700.0,89.0,1355000.0,8.0,13638.881,11
222,222,10,1285000.0,16.0,99358.0,3.0,13348.803,12
352,352,313,1083034.0,128.0,429518.0,8.0,13040.650,13
365,365,3667,311000.0,10.0,1802335.0,33.0,12855.075,14
920,920,932,367700.0,41.0,1734480.0,52.0,12535.800,15
162,162,2,68320.0,7.0,2360000.0,23.0,12483.600,16
415,415,26,350000.0,6.0,1759843.0,6.0,12304.415,17
569,569,38,1227780.0,23.0,0.0,0.0,12285.423,18
786,786,7,661500.0,27.0,1096160.0,11.0,12097.216,19
2,2,97,567000.0,20.0,1270215.0,20.0,12040.475,20
238,238,899,923400.0,45.0,445000.0,7.0,11638.838,21
992,992,2483,804978.0,18.0,616278.0,11.0,11627.777,22
28,28,37,1061500.0,49.0,0.0,0.0,10622.449,23
538,538,29,1025000.0,27.0,8558.0,1.0,10298.616,24
208,208,507,644934.0,35.0,657928.0,9.0,9840.406,25
989,989,3471,240000.0,12.0,1339000.0,20.0,9789.200,26
978,978,74,794358.0,69.0,288114.0,14.0,9399.005,27
915,915,8,780028.0,84.0,307609.0,7.0,9340.002,28
678,678,12,379000.0,22.0,1100000.0,1.0,9292.421,29
78,78,602,159000.0,32.0,1484900.0,47.0,9134.900,30
909,909,1,679745.0,125.0,454060.0,5.0,9068.070,31
182,182,2446,795000.0,16.0,80339.0,4.0,8840.907,32
93,93,487,616000.0,76.0,511474.0,24.0,8814.822,33
200,200,4,539998.0,8.0,593000.0,5.0,8365.783,34
259,259,126,824020.0,115.0,0.0,0.0,8265.515,35
306,306,4,826000.0,57.0,0.0,0.0,8260.857,36
344,344,3,311900.0,18.0,1024000.0,10.0,8239.608,37
601,601,33,692144.0,23.0,240000.0,1.0,8128.062,38
515,515,413,580000.0,14.0,400000.0,6.0,7882.608,39
294,294,5,607700.0,41.0,311187.0,3.0,7633.973,40
681,681,8,689000.0,65.0,132000.0,1.0,7551.664,41
950,950,4,732000.0,99.0,35500.0,4.0,7498.395,42
675,675,639,662500.0,50.0,70000.0,1.0,7102.849,43
663,663,6401,425000.0,52.0,290200.0,35.0,6981.217,44
438,438,1,400000.0,2.0,594851.0,1.0,6974.456,45
619,619,2,697000.0,13.0,0.0,0.0,6970.413,46
245,245,3,209450.0,25.0,912200.0,10.0,6656.115,47
547,547,1248,493200.0,41.0,245863.0,14.0,6410.942,48
612,612,1543,554800.0,53.0,109081.0,8.0,6402.050,49
949,949,1,409100.0,64.0,434171.0,7.0,6262.112,50

In [176]:
# I think to be fair 
# top 10 = 40% of 50000
# rest = 60% of the 50000
Bouns_pool =50000
tier1_bonus_pool =Bouns_pool *0.40
tier2_bonus_pool =Bouns_pool *0.30

In [179]:
tier1_user= top50[top50['Rank'] <= 10]
tier2_user = top50[(top50['Rank'] > 10) & (top50['Rank'] <= 50)]

**Part C**

The Issues that i have oberved in the loyalty point formula :
It is heavy bias toward deposite amount means less activity but high deposite make user on top
No reward for game wins or duration like: if a player play 20 game and losing all games has same reward as the winner get no difference

**suggested formula**
Loyalty Points =
  (0.01 * Total Deposit Amount) +
  (0.005 * Total Withdrawal Amount) +
  (0.001 * max(#Deposits - #Withdrawals, 0)) +
  (0.1 * Number of Games Played)+
  (0.1* number of games won)